/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

html,
body {
  background-color: #6ca6bc;
  font-family: "Cherry Bomb One", sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.header {
  padding: 10px 0px 10px 0px;
  background-color: #fff;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.title {
  display: inline;
  font-size: 24px;
  /* font-family: "Cherry Bomb One", sans-serif; */
  font-weight: 400;
  font-style: normal;
  margin-left: 8px;
}

.form_group {
  padding: 24px;
}

.form_label {
  text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff;
}

.form_button {
  font-family: "Cherry Bomb One", sans-serif;
}

.container {
  margin: 8px auto 0px auto;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  width: calc(100% - 20px);
    max-width: 800px;
}

.addresses {
}

.address {
  color: #ffffff;
  padding-bottom: 24px;

  .input {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px;
    width: 100%;
  }
}

.forecasts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0px 0px 0px;
}

.forecast {
  text-align: center;
  width: 20%;

  .icon {
    padding: 8px 0px 5px 0px;

    img {
      height: 50px;
    }
  }
}